.our__services{
    .our-services-single{
        background-color: #ffffff;
        padding: 30px;
        border-radius: 6px;
        min-height: 160px;
        img{
            margin-bottom: 20px;
            height: 50px;
        }
        h3{
            color: #1A1A1A;
            font-size: 20px;
            list-style: 24px;
            margin-bottom: 0px;
            font-family: Roboto-Medium;
        }
    }
}