.our__clients{
    .clients-single{
        background-color: #FFFFFF;
        width: 240px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
}
.membership {
    .clients-single{
        background-color: #FCFCFC;
        padding: 10px;
        display: flex;
        img{
            margin: auto;
            height: 80px;
        }
    }
}