@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(/assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

a {
  text-decoration: none;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.title-style-one h3 {
  font-size: 38px;
  line-height: 45px;
  font-family: Roboto-Bold;
  color: #000000;
  text-align: center;
  margin-bottom: 0px;
}

.title-style-one p {
  background-color: #FFFFFF;
  color: #212121;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 30px 20px;
  border-radius: 10px;
}

.section__padding {
  padding-block: 60px;
}

img {
  max-width: 100%;
}

.bg-one {
  background-color: #F8FAFC;
}

li {
  list-style: none;
}

body {
  font-family: Roboto-Regular;
}

.header__area {
  padding: 18px 0px;
  border-bottom: 1px solid #EAEAEA;
}

.header__area.sticky {
  position: fixed;
  top: 0 !important;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  display: block;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
}

.main-menu ul li {
  display: inline-block;
  position: relative;
  margin-bottom: -2px;
}

.main-menu ul li:not(:first-child) {
  margin-left: 0px;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .main-menu ul li:not(:first-child) {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu ul li:not(:first-child) {
    margin-left: 0px;
  }
}

.main-menu ul li a {
  color: #1A1A1A;
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  padding: 0px 33px 0px 0px;
}

.main-menu ul li.has-dropdown > a {
  position: relative;
}

.main-menu ul li.has-dropdown > a::after {
  content: "\f107";
  -webkit-transform: translateY(1px);
  transform: translateY(2px);
  font-size: 17px;
  color: #0e1133;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
}

.main-menu ul li:hover > a {
  color: #FF0000;
}

.main-menu ul li:hover > a::after {
  color: #FF0000;
}

.main-menu ul li:hover .submenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.main-menu ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
  box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
  padding: 10px;
}

.main-menu ul li .submenu li {
  display: block;
  width: 100%;
  margin: 0;
}

.main-menu ul li .submenu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-menu ul li .submenu li.has-dropdown > a::after {
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.main-menu ul li .submenu li a {
  padding: 10px 25px;
  font-size: 15px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
}

.main-menu ul li .submenu li a::before {
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background: #FF0000;
  z-index: -1;
}

.main-menu ul li .submenu li .submenu {
  left: 120%;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.main-menu ul li .submenu li:hover > a {
  color: #ffffff;
}

.main-menu ul li .submenu li:hover > a::after {
  color: #ffffff;
}

.main-menu ul li .submenu li:hover > a::before {
  left: 0;
  right: auto;
  width: 100%;
}

.main-menu ul li .submenu li:hover .submenu {
  left: 100%;
  visibility: visible;
  opacity: 1;
}

.main-menu-2 ul li:not(:first-child) {
  margin-left: 35px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu-2 ul li:not(:first-child) {
    margin-left: 20px;
  }
}

.main-menu-2 ul li .menu-tag {
  position: absolute;
  top: 13px;
  right: -4px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  background: #FF0000;
  color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
  box-shadow: 0px 8px 20px 0px rgba(1, 23, 133, 0.3);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu-2 ul li .menu-tag {
    display: none;
  }
}

.main-menu-2 ul li .menu-tag::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid #FF0000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.main-menu-3 ul li a {
  color: #ffffff;
  position: relative;
}

.main-menu-3 ul li a::before {
  position: absolute;
  content: "";
  left: auto;
  right: 0;
  bottom: 38px;
  width: 0%;
  height: 1px;
  background: #ffffff;
}

.main-menu-3 ul li.has-dropdown a::after {
  color: #ffffff;
}

.main-menu-3 ul li .submenu li a::after {
  color: #0e1133;
}

.main-menu-3 ul li:hover a {
  color: #ffffff;
}

.main-menu-3 ul li:hover a::before {
  width: 100%;
  left: 0;
  right: auto;
}

/* sidebar css start */
.sidebar-toggle-btn .line {
  width: 30px;
  height: 3px;
  background-color: #FF0000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-toggle-btn-white .line {
  background: #ffffff;
}

.sidebar-toggle-btn:hover {
  cursor: pointer;
}

.sidebar-toggle-btn:hover .line {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.sidebar-toggle-btn:hover .line:nth-child(1) {
  width: 10px;
}

.sidebar-toggle-btn:hover .line:nth-child(2) {
  width: 20px;
}

.sidebar__area {
  position: fixed;
  right: -340px;
  top: 0;
  width: 320px;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: scroll;
  -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;
}

.sidebar__area.sidebar-opened {
  right: 0px;
}

.sidebar__wrapper {
  position: relative;
  padding: 30px;
}

.sidebar__close {
  position: absolute;
  top: 25px;
  right: 80px;
}

.sidebar__close-btn {
  -webkit-transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
  transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0e1133;
  border: 1px solid #2a3a57;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  z-index: 99;
}

.sidebar__close-btn:focus {
  border: 1px solid #0e1133;
}

.sidebar__close-btn span {
  -webkit-transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
  transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
  position: absolute;
  top: 54%;
  left: 50%;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  vertical-align: middle;
}

.sidebar__close-btn span:first-of-type {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.sidebar__close-btn span:last-of-type {
  text-transform: uppercase;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}

.sidebar__close-btn:hover {
  width: 100px;
  border-radius: 0;
}

.sidebar__close-btn:hover span:first-of-type {
  transform: translate(-50%, -150%);
  -webkit-transform: translate(-50%, -150%);
  -moz-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  -o-transform: translate(-50%, -150%);
}

.sidebar__close-btn:hover span:last-of-type {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.sidebar__search input {
  width: 100%;
  height: 50px;
  line-height: 20px;
  border-radius: 4px;
  background: #edeef3;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 25px 65px 20px 55px;
}

.sidebar__search input::-webkit-input-placeholder {
  color: #8c8faa;
}

.sidebar__search input:-ms-input-placeholder {
  color: #8c8faa;
}

.sidebar__search input::-ms-input-placeholder {
  color: #8c8faa;
}

.sidebar__search input::placeholder {
  color: #8c8faa;
}

.sidebar__search input:focus {
  border-color: #FF0000;
}

.sidebar__search button {
  background: transparent;
  position: absolute;
  top: 15px;
  left: 24px;
}

.sidebar__search button i::after {
  color: #0e1133;
  opacity: 1;
}

.sidebar__search button i::before {
  color: #8c8faa;
}

.sidebar__cart-icon {
  display: inline-block;
}

.sidebar__cart-icon svg {
  width: 20px;
  height: 19px;
}

.sidebar__cart-icon svg .st0 {
  fill: none;
  stroke: #0e1133;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sidebar__cart a {
  position: relative;
  font-size: 17px;
  color: #0e1133;
}

.sidebar__cart a .cart-item {
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background: #FF0000;
  border-radius: 50%;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 23, 118, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(4, 23, 118, 0.3);
}

.sidebar__cart a:hover .cart-item {
  background: #0e1133;
}

/* mean menu customize */
.mean-container a.meanmenu-reveal {
  display: none;
}

.mean-container .mean-nav {
  background: none;
  margin-top: 0;
}

.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}

.mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}

.mean-container a.meanmenu-reveal {
  display: none !important;
}

.mean-container .mean-nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: #0e1133;
  border-top: 1px solid #bbbcbf;
  font-size: 13px;
  font-weight: 600;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 0px;
  height: 15px;
  line-height: 14px;
  border-bottom: none;
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 39px;
  line-height: 44px;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
  color: #0e1133;
}

.mean-container .mean-nav > ul > li:first-child > a {
  border-top: 0;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
  color: #0e1133;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: #0e1133;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu ul li a {
    font-size: 16px;
    padding: 0px 10px 0px 0px;
  }
}

.mobile-show-menu {
  display: none !important;
}

.main-menu ul li a {
  font-size: 17px;
  color: #1A1A1A;
  padding: 12.5px;
  text-transform: capitalize;
  font-family: 'Roboto-Regular';
}

.sidebar__content .mobile-content p {
  font-size: 13px;
  color: #0e1133;
  font-weight: 600;
}

.hero__section {
  background-color: #f8fafc;
  padding: 80px 0px;
  position: relative;
}

.hero__left__conent h1 {
  font-family: Roboto-Bold;
  font-size: 60px;
}

.hero__left__conent .top-box {
  background-color: white;
  padding: 10px 15px;
}

.hero__left__conent .top-box h4 {
  color: #FF0000;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 0px;
  font-weight: 900;
}

.hero__left__conent .top-box p {
  font-size: 12px;
  line-height: 12px;
  color: #212121;
  margin-bottom: 0px;
}

.hero__left__conent .top-box img {
  background-color: #FFEAEB;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.hero__left__conent .btn-primary {
  line-height: 46px;
  padding: 0px 20px;
}

.hero__content__right {
  z-index: 9;
}

.logo-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.btn-primary {
  background-color: #FF0000;
  color: white;
  padding: 10px 15px;
  border: 1px solid #FF0000;
  border-radius: 6px;
  font-size: 17px;
  line-height: 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-primary:hover {
  background-color: #dc0606;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #dc0606;
}

.btn-style-one {
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  font-size: 17px;
  line-height: 17px;
  font-family: Roboto-Medium;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-style-one i {
  font-weight: 500;
}

.btn-style-one:hover {
  background-color: #FF0000;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-style-two {
  background-color: white;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 16px;
  color: #FF0000;
}

.btn-style-three {
  background-color: #FFF3F3;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 16px;
  color: #FF0000;
}

.project__single__block {
  background-color: #F8FAFC;
  padding: 20px;
  border-radius: 10px;
}

.project__single__block h3 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-family: Roboto-Bold;
  margin-bottom: 15px;
}

.project__single__block p {
  margin-bottom: 15px;
}

.project__statistic {
  position: relative;
}

.project__statistic div {
  position: relative;
}

.project__statistic div:first-child::after {
  content: '';
  background-color: #1A1A1A;
  height: 50px;
  width: 2px;
  position: absolute;
  right: -25px;
  top: 0px;
}

.project__statistic h4 {
  color: #1A1A1A;
  font-size: 30px;
  line-height: 30px;
  font-family: Roboto-Medium;
  margin-bottom: 0px;
}

.project__statistic p {
  margin-bottom: 0px;
}

.our__services .our-services-single {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 6px;
  min-height: 160px;
}

.our__services .our-services-single img {
  margin-bottom: 20px;
  height: 50px;
}

.our__services .our-services-single h3 {
  color: #1A1A1A;
  font-size: 20px;
  list-style: 24px;
  margin-bottom: 0px;
  font-family: Roboto-Medium;
}

.signature-product-single .singnature-product-single-content {
  background-color: #F8FAFC;
  padding: 30px;
}

.signature-product-single .singnature-product-single-content h3 {
  color: #000000;
  font-size: 28px;
  line-height: 33px;
  font-family: Roboto-Medium;
  margin-bottom: 0;
}

.signature-product-single .singnature-product-single-content h5 {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto-Medium;
  margin-bottom: 0;
}

.signature-product-single .singnature-product-single-content .company-logo {
  background-color: white;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
}

.signature-product-single .singnature-product-single-content .btn-primary i {
  font-weight: 300;
}

.signature-product-single .singnature-product-single-content .weburl {
  font-family: Roboto-Medium;
}

.signature-product-single .singnature-product-single-content .weburl i {
  font-size: 12px;
}

.technology-single {
  background-color: white;
  width: 140px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.recent__article .recent-article-single h3 {
  color: #000000;
  font-size: 25px;
  font-family: Roboto-Black;
  line-height: 36px;
}

.recent__article .recent-article-single p {
  color: #8E989D;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 5px;
}

.recent__article .recent-article-single a {
  color: #FF0000;
  font-size: 15px;
  font-family: Roboto-Medium;
}

.our__clients .clients-single {
  background-color: #FFFFFF;
  width: 240px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.membership .clients-single {
  background-color: #FCFCFC;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.membership .clients-single img {
  margin: auto;
  height: 80px;
}

footer {
  background-color: #1E293B;
  color: white;
  padding-top: 50px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li a {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
  -webkit-transition: .3s;
  transition: .3s;
}

footer ul li a i {
  padding-right: 10px;
}

footer ul li a:hover {
  color: #FF0000;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-widget h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

footer .footer-social a {
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

footer .footer-social a:hover {
  background-color: #FF0000;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .copyright {
  background-color: #0F172A;
  padding: 20px 0px;
}

footer .copyright p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 0px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .container {
    overflow-x: hidden;
  }
  .header__area {
    padding: 0px;
  }
  .header__right {
    float: inline-end;
  }
  .hero__section {
    padding: 30px 0px;
    text-align: center;
  }
  .hero__section .hero__left__conent h1 {
    font-size: 30px;
  }
  .hero__section .hero__left__conent .d-flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .hero__section .hero__left__conent .btn-primary {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .logo-shape img {
    height: 50px;
  }
  .title-style-one h3 {
    font-size: 25px;
  }
  .title-style-one p {
    width: 100%;
  }
  .row-cols-mobile-gutter-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our__clients .clients-single {
    margin: auto;
  }
  .footer-widget {
    text-align: center;
  }
  .footer-widget h3 {
    text-align: center !important;
  }
}
/*# sourceMappingURL=style.css.map */